table {
  width: 100%;
}

.checkbox_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  margin-right: 3rem;
}

.warning {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}
